// icon
.icon {
	width: 3rem;
	height: 3rem;
	margin: 0rem 1rem 1rem .5rem;
}


.about-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@media @mobile {
		flex-direction: column;

	}

.about-box {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #CBCBCB;
	width: 25%;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;

	&::before{
		width: 100%;
		height: 0%;
		transform: translate(-50%,-50%) rotate(-45deg);
	  }
	  &:hover::before{
		height: 380%;
	  }

	  &:hover {
		color: rgb(255, 255, 255);
		background-color: rgb(136, 136, 136);
	  }


	.pics {
		width: 75%;
		height: 75%;

	}

	h1 {
		font-size: 3rem;
		font-family: @font;
	}

	p {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	@media @mobile {
		width: 75%;
		.pics {
			width: 75%;
			height: 75%;
	
		}
	}
}
}